<a href="https://colab.research.google.com/github/devfelipebenite/devfelipebenite/blob/main/Aula_1_Engenharia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Extract

In [20]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=0a65747e2203ae0a56f9b7d6a1c2c610d7c54ceaaddcfd88dbdbc9c7ffe46dba
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [21]:
import requests
import io
import pandas as pd
from pyspark.sql import SparkSession

In [5]:
url = 'http://compras.dados.gov.br/servicos/v1/servicos.csv?descricao=educação'

In [9]:
data = requests.get(url).content
type(data)

bytes

In [17]:
parse_data = io.StringIO(data.decode("UTF-8"))
parse_data

In [19]:
df = pd.read_csv(parse_data)
df.head()

,Código,Descrição,Unidade medida,CPC,Seção,Divisão,Grupo,Classe,Subclasse
0,14311,Orientação / Educação - Atividade Física ...,UNHOMEM/H MÊS,9659,"9: SERVIÇOS DA COMUNIDADE, PESSOAIS E SOCIAIS ...","96: SERVIÇOS RECREACIONAIS, CULTURAIS E ESPORT...",965: SERVIÇOS RELACIONADOS COM ESPORTES E SERV...,9659: OUTROS ESPORTES E SERVIÇOS DE ESPORTES R...,NaN
1,15946,Serviço Penitenciário - Reeducação e Reabilita...,UN,979,"9: SERVIÇOS DA COMUNIDADE, PESSOAIS E SOCIAIS ...",97: OUTROS SERVIÇOS ...,979: OUTROS SERVIÇOS DIVERSOS/MISCELÂNEA ...,NaN,NaN
2,18481,Consultoria e Assessoria - Educação ...,UN,8319,"8: SERVIÇOS DE ARQUITETURA, DESENHOS TÉCNICOS,...","83: OUTROS SERVIÇOS DE NEGÓCIOS, TÉCNICOS E PR...",831: SERVIÇOS DE CONSULTORIA E DE GERÊNCIA/GES...,"8319: OUTROS SERVIÇOS DE GERÊNCIA/GESTÃO, EXCE...",NaN
3,19321,Curso / Treinamento Educação - Distância ...,UN,929,"9: SERVIÇOS DA COMUNIDADE, PESSOAIS E SOCIAIS ...",92: SERVIÇOS DA INSTRUÇÃO/ EDUCAÇÃO/ ENSINO ...,929: OUTROS SERVIÇOS DE EDUCAÇÃO E TREINAMENTO...,NaN,NaN

In [22]:
spark = SparkSession.builder.appName("Aula1").getOrCreate()

In [26]:
type(df)

pyspark.sql.dataframe.DataFrame

In [25]:
df = spark.createDataFrame(df)

#Transform

In [27]:
df.printSchema()

root
 |-- Código: long (nullable = true)
 |-- Descrição: string (nullable = true)
 |-- Unidade medida: string (nullable = true)
 |-- CPC: long (nullable = true)
 |-- Seção: string (nullable = true)
 |-- Divisão: string (nullable = true)
 |-- Grupo: string (nullable = true)
 |-- Classe: string (nullable = true)
 |-- Subclasse: double (nullable = true)

In [28]:
df.show()

+------+--------------------+--------------+----+--------------------+--------------------+--------------------+--------------------+---------+
|Código|           Descrição|Unidade medida| CPC|               Seção|             Divisão|               Grupo|              Classe|Subclasse|
+------+--------------------+--------------+----+--------------------+--------------------+--------------------+--------------------+---------+
| 14311|Orientação / Educ...| UNHOMEM/H MÊS|9659|9: SERVIÇOS DA CO...|96: SERVIÇOS RECR...|965: SERVIÇOS REL...|9659: OUTROS ESPO...|      NaN|
| 15946|Serviço Penitenci...|            UN| 979|9: SERVIÇOS DA CO...|97: OUTROS SERVIÇ...|979: OUTROS SERVI...|                 NaN|      NaN|
| 18481|Consultoria e Ass...|            UN|8319|8: SERVIÇOS DE AR...|83: OUTROS SERVIÇ...|831: SERVIÇOS DE ...|8319: OUTROS SERV...|      NaN|
| 19321|Curso / Treinamen...|            UN| 929|9: SERVIÇOS DA CO...|92: SERVIÇOS DA I...|929: OUTROS SERVI...|                 NaN|      NaN|
+------+--------------------+--------------+----+--------------------+--------------------+--------------------+--------------------+---------+

In [31]:
df.columns

['Codigo',
 'Descricao',
 'Unidade_medida',
 'CPC',
 'Secao',
 'Divisao',
 'Grupo',
 'Classe',
 'Subclasse']

In [30]:
df = (df.withColumnRenamed("Código", "Codigo")
.withColumnRenamed("Descrição", "Descricao")
.withColumnRenamed("Unidade medida", "Unidade_medida")
.withColumnRenamed("Seção", "Secao")
.withColumnRenamed("Divisão", "Divisao")
)

In [33]:
import pyspark.sql.functions as F

In [34]:
df = df.select([x.lower() for x in df.columns])
df.printSchema()

root
 |-- codigo: long (nullable = true)
 |-- descricao: string (nullable = true)
 |-- unidade_medida: string (nullable = true)
 |-- cpc: long (nullable = true)
 |-- secao: string (nullable = true)
 |-- divisao: string (nullable = true)
 |-- grupo: string (nullable = true)
 |-- classe: string (nullable = true)
 |-- subclasse: double (nullable = true)

In [35]:
df.head()

Row(codigo=14311, descricao='Orientação / Educação - Atividade Física                                                                                ', unidade_medida='UNHOMEM/H MÊS', cpc=9659, secao='9: SERVIÇOS DA COMUNIDADE, PESSOAIS E SOCIAIS E OUTROS SERVIÇOS                                                            ', divisao='96: SERVIÇOS RECREACIONAIS, CULTURAIS E ESPORTIVOS                                                                          ', grupo='965: SERVIÇOS RELACIONADOS COM ESPORTES E SERVIÇOS RECREACIONAIS DO ESPORTE                                                  ', classe='9659: OUTROS ESPORTES E SERVIÇOS DE ESPORTES RECREATIVOS                                                                      ', subclasse=nan)

In [36]:
from google.colab import drive

In [37]:
drive.mount('/content/drive')

Mounted at /content/drive

In [38]:
dir = "/content/drive/MyDrive"

In [41]:
df.write.mode("overwrite").csv(f"{dir}/compras.csv")

In [42]:
import os

In [44]:
print(spark.read.csv("/content/drive/MyDrive/compras.csv").head())

Row(_c0='18481', _c1='Consultoria e Assessoria - Educação', _c2='UN', _c3='8319', _c4='8: SERVIÇOS DE ARQUITETURA, DESENHOS TÉCNICOS, PESQUISA E DESENVOLVIMENTO, NEGÓCIO E PRODUÇÃO', _c5='83: OUTROS SERVIÇOS DE NEGÓCIOS, TÉCNICOS E PROFISSIONAIS', _c6='831: SERVIÇOS DE CONSULTORIA E DE GERÊNCIA/GESTÃO', _c7='8319: OUTROS SERVIÇOS DE GERÊNCIA/GESTÃO, EXCETO OS DE PROJETOS DECONSTRUÇÃO', _c8='NaN')

Extrair dados públicos de compras governamentais
Tratar os dados
Armazenar os dados em um arquivo